.login-card{
  width: 400px;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  margin: auto;
}

.form-group{
  margin-bottom: 15px;
}

.form-group input{
  width:100%;
  padding:12px;
  border:1px solid #ddd;
  border-radius:8px;
  font-size:14px;
}

.error{
  color: red;
  font-size:12px;
  margin-top:4px;
}

.login-btn{
  background:#070e27;
  color:white;
  padding:12px 28px;
  border:none;
  border-radius:30px;
  font-size:15px;
  width:100%;
  cursor:pointer;
  transition: all 0.2s ease;
}

.login-btn:hover{
  background:#0d1640;
  transform: translateY(-2px);
}

.text-center{
  text-align:center;
  margin-top:15px;
}

.text-center a{
  color:#070e27;
  text-decoration:none;
  font-weight:bold;
}

.text-center a:hover{
  text-decoration:underline;
}
