<div class="navbar">

  <!-- LEFT -->
  <div class="nav-left">
    <div class="logo">TreasurySight</div>
  </div>

  <!-- CENTER -->
  <div class="nav-center">
    <select>
      <option>hello+conso@fygr.io</option>
    </select>

    <select>
      <option>Société B</option>
    </select>

    <button class="refresh">&#10227;</button>
  </div>

  <!-- MENU -->
  <div class="nav-menu">
    <a [routerLink]="['/dashboard']"  >Dashboard</a>
    <a [routerLink]="['/events']" class="active">Échéances</a>
    <a>Transactions</a>
    <a>Catégories</a>
  </div>

  <!-- RIGHT -->
  <div class="nav-right">
    <span class="icon">&#128100;</span>
  </div>

</div>
